<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATOKスタイル_Revision</key>
	<integer>1</integer>
	<key>ATOKスタイル_Version</key>
	<integer>34</integer>
	<key>キー</key>
	<data>
	AAAAGQAZAE0ATQCJAIkAxgDGAPAA8AEX////////////////////////////////////
	//////8BFwEoASgBKBQZJHn/////AB8UDiRu/////wBBJQkkIP////8ARhQKJHolIQFQ
	AEkUDCRjJSMRUgCLFDokcxQnAVIAjBQI////////ALAUAiRi/////wC0FBUkdf////8A
	wREI////////ACAUByRn/////wDAFBIkcv////8AnxUr////////AL4VLP///////wDD
	FDD///////8AzxQLJHglIgVQAEoUE////////wDQFDskYSUk//8ASxQx////////ANUF
	DQVvEQ0RbwA8FBT///////8A7hFl//8hZf//AMYRaP//IWj//wDHARv///////8A2RQ5
	FSr/////AN0BCBAI/////wAAAWT///////8AAQFnEAQgbBAGAAIBZhATIGoQAgADACAB
	aBAYIGsACAQgAWUQBSBpAAkQOiBzASohJQALEAogegEmISEADBALIHgBJyEiAA0QOyBh
	ASghJAAOEAwgYwEpISMADxAxASH/////ABEQMgEi/////wASEDMBI/////8AExA0AST/
	////ABQQNQEl/////wAVFCAQIP////8AHAENAW8QDf//AB0BRyRgARsgYAAeJQkkIP//
	//8ARhQKJHolIQFQAEkhCf///////wB4FAwkYyUjEVIAixQ6JHMUJwFSAIwUCP//////
	/wCwFAIkYv////8AtAEr////////AH8Baf///////wAFAWr///////8ABBQHJGf/////
	AMAFDQVvEQ0RbwA8AQn///////8AnhUr////////AL4VLP///////wDDFDD///////8A
	zxAB////////AGsgdxFq/////wBeFAskeCUiBVAAShQT////////ANAkdwVq/////wBf
	FDskYSUk//8ASxQx////////ANURZQUJIWX//wDGEWj//yFo//8AxxEI////////ACAQ
	FP///////wDtFBT///////8A7hVi////////AOcVYf///////wDoIQ0hb/////8A2BVq
	////////AOoUNgUm/////wAWBQ0FbxENEW8APAAgAWgQGCBrAAgEIAFlEAUgaQAJEDog
	cwEqISUACxAKIHoBJiEhAAwQCyB4ASchIgANEDsgYQEoISQADhAMIGMBKSEjAA8QMQEh
	/////wAREDIBIv////8AEhAzASP/////ABMQNAEk/////wAUEDUBJf////8AFRQgECD/
	////ABwBDQFvEA3//wAdAUckYP////8AHgVnEBcQDyRsADQFZhAREAkkagA1AWcQBCBs
	EAYANgFmEBMgahACADcUBBFHEWT//wA6JQkkIP////8ARhQKJHolIQFQAEkhCf//////
	/wB4FAwkYyUjEVIAixQ6JHMUJwFSAIwUCP///////wCwFAIkYv////8AtAEr////////
	AH8UDv///////wAwFA3///////8AMRVm////////AHwVZ////////wB7AWn///////8A
	OQFq////////ADgRCP///////wAgFAckZ/////8AwAVk////////ADsVK////////wC+
	FSz///////8AwwEbIGABCBAIADIUMP///////wDPEAH///////8AaxFl//8hZf//AMYR
	aAEJIWj//wDHIHcRav////8AXhQLJHglIgVQAEoUE////////wDQMBP///////8A0SR3
	BWr/////AF8UOyRhJST//wBLFDH///////8A1RAU////////AO0UFP///////wDuFWL/
	//////8A5xVh////////AOghDSFv/////wDYFWr///////8A6hQ2BSb/////ABYFCP//
	/////wDcBQ0FbxENEW8APAAgAWgQGCBrAAgEIAFlEAUgaQAJEDogcwEqISUACxAKIHoB
	JiEhAAwQCyB4ASchIgANEDsgYQEoISQADhAMIGMBKSEjAA8QMQEh/////wAREDIBIv//
	//8AEhAzASP/////ABMQNAEk/////wAUEDUBJf////8AFQENAW//////ABsUIBAg////
	/wAcAUckYP////8AHgVnEBcQDyRsADQFZhAREAkkagA1AWcQBCBsEAYANgFmEBMgahAC
	ADcUBBFHEWT//wA6BWgQFgFh//8APgVlEBIBYv//AD8lCSQg/////wBGFAokeiUhAVAA
	SSEJ////////AHgUDCRjJSMRUgCLFDokcxQnAVIAjBQI////////ALAUAiRi/////wC0
	ASv///////8Af/////8QDf//AB0UDv///////wAwFA3///////8AMRQsEWL/////AI4U
	LhFh/////wCPFWb///////8AfBVn////////AHsUByRn/////wDABWT///////8AOxUr
	////////AL4VLP///////wDDARsgYAEIEAgAMiB3EWr/////AF4UMP///////wDPEAH/
	//////8AaxQLJHglIgVQAEoUE////////wDQMBP///////8A0SR3BWr/////AF8UOyRh
	JST//wBLFDH///////8A1QFp////////AKkBav///////wCvEBT///////8A7RQU////
	////AO4VYv///////wDnFWH///////8A6CENIW//////ANgVav///////wDqFDYFJv//
	//8AFhA6IHMBKiElAAsQCiB6ASYhIQAMEAsgeAEnISIADRA7IGEBKCEkAA4QDCBjASkh
	IwAPEDEBIf////8AERAyASL/////ABIQMwEj/////wATEDQBJP////8AFBA1ASX/////
	ABUUBBFHEWT//wA6BWgQFgFh//8APgVlEBIBYv//AD8lCSQg/////wBGFAokeiUhAVAA
	SSEJ////////AHgUDCRjJSMRUgCLFDokcxQnAVIAjAAgAWcQBCBsAKgEIAFmEBMgagCq
	AWgQGCBr//8AqwFlEAUgaf//AKwBDQFvEA3//wCtARsgYAEIEAgArhQI////////ALAU
	AiRi/////wC0ASv///////8AfxQsEWL/////AI4ULhFh/////wCPFAckZ/////8AwAVk
	////////ADsVK////////wC+FSz///////8AwxQw////////AM8UCyR4JSIFUABKFBP/
	//////8A0BQ7JGElJP//AEsUMf///////wDVAWn///////8AqQFq////////AK8UNgUm
	/////wAW//////////8AMgAgAWgQGCBrAAgEIAFlEAUgaQAJEDogcwEqISUACxAKIHoB
	JiEhAAwQCyB4ASchIgANEDsgYQEoISQADhAMIGMBKSEjAA8QMQEh/////wAREDIBIv//
	//8AEhAzASP/////ABMQNAEk/////wAUEDUBJf////8AFRQgECD/////ABwBDQFvEA3/
	/wAdAUckYP////8AHgEbIGABCBAIADIFZxAXEA8kbAA0BWYQERAJJGoANSUJJCD/////
	AEYUCiR6JSEBUABJIQn///////8AeBQMJGMlIxFSAIsUOiRzFCcBUgCMFAj///////8A
	sBQCJGL/////ALQBK////////wB/FWb///////8AfBVn////////AHsUByRn/////wDA
	FSv///////8AvhUs////////AMMUMP///////wDPFAskeCUiBVAAShQT////////ANAU
	OyRhJST//wBLFDH///////8A1REI////////ACAhDSFv/////wDYFDYFJv////8AFhQO
	JG7/////AEEUCP///////wCwFAIkYv////8AtBQVJHX/////AMEUByRn/////wDAFBIk
	cv////8AnxUr////////AL4VLP///////wDDFDD///////8AzxQT////////ANAUCiR6
	JSEBUABJFAskeCUiBVAAShQ7JGElJP//AEsUDCRjJSMRUgCLFDokcxQnAVIAjBQx////
	////ANUUORUq/////wDd////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////
	</data>
	<key>ローマ字</key>
	<data>
	AAABVQEAAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAABAAEAAQACAAEAAwAAAAMAAAADAAAAAwAAAAMAAAADAAAAAwAAAAMAAAAD
	AAAAAwAAAAMAAAADAAAAAwAAAAMAAAADAAAAAwAAAAMAAAADAAAAAwAAAAMAAAADAAAA
	AwAAAAMAAAADAAAAAwAAAAMAAAADAAAAAwAAAAMAAAADAAAAAwAAAAMAAAADAAAAAwAA
	AAMAAAADAAAAAwAAAAMAAAADAAAAAwAAAAMAAAADAAAAAwAAAAMAAAADAAEABAAAAAQA
	AQAFAAAABQAAAAUAAAAFAAEABgAVABsAEAArABUAQAABAEEAEABRABUAZgALAHEAAQBy
	AAsAfQAVAJIAEACiABUAtwAOAMUAAQDGABUA2wAGAOEACwDsABUBAQAaARsAAQEcAAsB
	JwANATQABgE6AAYBQAAVAVUAAAFVAAABVQAAAVUAAAFVAAAAAAEBAAIBAQAEAQEABgEB
	AAgBAQAKAQEADAIBAA8CAgATAgIAFwMDAB0DAwAjAwMAKQMDAC8DAwA1AgIAOQICAD0C
	AgBBAwMARwMDAE0DAwBTAwMAWQMDAF8DAwBlAwMAawMDAHEDAwB3AwMAfQIBAIACAgCE
	AgIAiAMCAI0DAgCSAwEAlgMCAJsDAgCgAgIApAICAKgCAgCsAwIAsQMCALYDAgC7AwIA
	wAMCAMUCAQDIAgIAzAICANADAwDWAwMA3AMDAOIDAwDoAwMA7gICAPICAgD2AgIA+gMD
	AQADAwEGAwMBDAMDARIDAwEYAwMBHgMDASQDAwEqAwMBMAMDATYBAQE4AgEBOwICAT8C
	AgFDAwIBSAMCAU0DAgFSAwIBVwMCAVwCAgFgAgIBZAICAWgDAgFtAwIBcgMCAXcDAgF8
	AwIBgQIBAYQCAgGIAgIBjAMDAZIDAwGYAwMBngMDAaQDAwGqAgIBrgICAbICAgG2AwMB
	vAMDAcIDAwHIAwMBzgMDAdQDAwHaAwMB4AMDAeYDAwHsAwMB8gIBAfUCAQH4AgEB+wIB
	Af4CAQIBAgECBAMCAgkDAgIOAwICEwMCAhgDAgIdAQECHwIBAiICAwInAgMCLAIDAjEC
	AwI2AgMCOwMDAkEDAwJHAwMCTQMDAlMDAwJZAgECXAIBAl8CAQJiAwICZwMCAmwDAgJx
	AwICdgMCAnsCAQJ+AgECgQIBAoQDAgKJAwICjgMCApMDAgKYAwICnQMCAqIDAgKnAwIC
	rAMCArEDAgK2AgECuQIBArwCAQK/AgECwgMBAsYDAQLKAgECzQQBAtIDAQLWAgEC2QMB
	At0DAQLhAwEC5QMBAukDAQLtAwEC8QIBAvQCAQL3AgEC+gMCAv8DAgMEAwIDCQMCAw4D
	AgMTAgEDFgIBAxkCAQMcAwIDIQMCAyYDAgMrAwIDMAMCAzUDAgM6AwIDPwMCA0QDAgNJ
	AwIDTgIBA1ECAQNUAgEDVwIBA1oCAQNdAgEDYAIBA2MCAQNmAgEDaQMCA24DAgNzAwID
	eAMCA30DAgOCAQEDhAIBA4cCAgOLAgIDjwMDA5UDAwObAwMDoQMDA6cDAwOtAgIDsQIC
	A7UCAgO5AwMDvwMDA8UDAwPLAwMD0QMDA9cDAwPdAwMD4wMDA+kDAwPvAwMD9QIBA/gC
	AwP9AgMEAgIDBAcCAwQMAgMEEQIBBBQCAQQXAgEEGgIBBB0CAQQgAgEEIwMCBCgDAgQt
	AwIEMgMCBDcDAgQ8AgEEPwIBBEICAQRFAwIESgMCBE8DAQRTAwIEWAMCBF0CAQRgAgEE
	YwIBBGYDAgRrAwIEcAMCBHUDAgR6AwIEfwMCBIQDAgSJAwIEjgMCBJMDAgSYAgEEmwIB
	BJ4CAQShAwIEpgMCBKsDAgSwAwIEtQMCBLoCAQS9AgEEwAMCBMUDAgTKAwIEzwMCBNQD
	AQTYAgEE2wMCBOADAgTlAwIE6gMCBO8DAgT0AwIE+QMCBP4DAgUDAwIFCAMCBQ0BAQUP
	AgEFEgICBRYCAgUaAgIFHgICBSICAgUmAwMFLAMDBTIDAwU4AwMFPgMDBUQCAQVHAgEF
	SgICBU4DAgVTAwIFWAMCBV0DAgViAwEFZgICBWoCAQVtAgEFcAMBBXQDAQV4AgEFewIC
	BX8CAgWDAgIFhwICBYsCAgWPAgEFkgIBBZUCAgWZAgEFnAIBBZ8CAQWiAgEFpQICBakC
	AgWtAwMFswMDBbkDAwW/AwMFxQMDBcsCAgXPAgIF0wICBdcDAwXdAwMF4wMDBekDAwXv
	AwMF9QMDBfsDAwYBAwMGBwMDBg0DAwAAAwMAAAMDAAADAwAAAwMAAAMDAAADAwAAAwMA
	AAMDAAADAwAAAwPd3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3dAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAACz/ZAAt/3AALv9hAFv/YgBd/2MAYf9xAGIAH/9vAGIAYf+K/54AYgBl/43/
	ngBiAGgAYf+K/57/ZwBiAGgAZf+K/57/agBiAGgAaf+K/57/aABiAGgAb/+K/57/awBi
	AGgAdf+K/57/aQBiAGn/i/+eAGIAb/+O/54AYgB1/4z/ngBiAHcAYf+L/54AFABiAHcA
	Zf+L/57/agBiAHcAaf+L/57/aABiAHcAb/+L/57/awBiAHcAdf+L/57/bQBiAHkAYf+L
	/57/bABiAHkAZf+L/57/agBiAHkAaf+L/57/aABiAHkAb/+L/57/bgBiAHkAdf+L/57/
	bQBjAB//bwBjAGH/gf9sAGMAZf+B/2oAYwBoAGH/gf9sAGMAaABl/4H/agBjAGgAaf+B
	AGMAaABv/4H/bgBjAGgAdf+B/20AYwBp/4H/aABjAG//gf9uAGMAdf+B/20AYwB5AGH/
	gf9sAGMAeQBl/4H/agBjAHkAaf+B/2gAYwB5AG//gf9uAGMAeQB1/4H/bQBkAB//bwBk
	AGH/gP+eAGQAZf+D/54AZABoAGH/g/+e/2wAZABoAGX/g/+e/2oAZABoAGn/g/+e/2gA
	ZABoAG//g/+e/24AZABoAHX/g/+e/20AZABp/4H/ngBkAG//hP+eAGQAdf+C/54AZAB3
	AGH/hP+e/2cAZAB3AGX/hP+e/2oAZAB3AGn/hP+e/2gAZAB3AG//hP+e/2sAZAB3AHX/
	hP+e/2kAZAB5AGH/gf+e/2wAZAB5AGX/gf+e/2oAZAB5AGn/gf+e/2gAZAB5AG//gf+e
	/24AZAB5AHX/gf+e/20AZf90AGYAH/9vAGYAYf+L/2wAZgBl/4v/agBmAGcAYf+M/2cA
	ZgBnAGX/jP9qAGYAZwBp/4z/aABmAGcAb/+M/2sAZgBnAHX/jP9tAGYAaf+L/2gAZgBv
	/4v/bgBmAHX/i/9tAGYAeQBh/4z/bABmAHkAZf+M/2oAZgB5AGn/jP9oAGYAeQBv/4z/
	bgBmAHkAdf+M/20AZwAf/28AZwBh/3b/ngBnAGX/ef+eAGcAaABh/3j/nv9nAGcAaABl
	/3j/nv9qAGcAaABp/3j/nv9oAGcAaABv/3j/nv9rAGcAaAB1/3j/nv9pAGcAaf93/54A
	ZwBv/3r/ngBnAHX/eP+eAGcAdwBh/3j/nv9nAGcAdwBl/3j/nv9qAGcAdwBp/3j/nv9o
	AGcAdwBv/3j/nv9rAGcAdwB1/3j/nv9pAGcAeQBh/3f/nv9sAGcAeQBl/3f/nv9qAGcA
	eQBp/3f/nv9oAGcAeQBv/3f/nv9uAGcAeQB1/3f/nv9tAGgAH/9vAGgAYf+KAGgAZf+N
	AGgAaf+LAGgAb/+OAGgAdf+MAGgAeQBh/4v/bABoAHkAZf+L/2oAaAB5AGn/i/9oAGgA
	eQBv/4v/bgBoAHkAdf+L/20Aaf9yAGoAH/9vAGoAYf98/57/bABqAGX/fP+e/2oAagBp
	/3z/nv9oAGoAb/98/57/bgBqAHX/fP+e/20AagB5AGH/fP+e/2wAagB5AGX/fP+e/2oA
	agB5AGn/fP+e/2gAagB5AG//fP+e/24AagB5AHX/fP+e/20AawAf/28AawBh/3YAawBl
	/3kAawBoAGH/eP9nAGsAaABl/3j/agBrAGgAaf94/2gAawBoAG//eP9rAGsAaAB1/3j/
	aQBrAGn/dwBrAG//egBrAHX/eABrAHcAYf94/2cAawB3AGX/eP9qAGsAdwBp/3j/aABr
	AHcAb/94/2sAawB3AHX/eP9pAGsAeQBh/3f/bABrAHkAZf93/2oAawB5AGn/d/9oAGsA
	eQBv/3f/bgBrAHkAdf93/20AbAAf/28AbABh/2cAbABl/2oAbABp/2gAbABrAGEAEgBs
	AGsAZQATAGwAb/9rAGwAdABzAHX/bwBsAHQAdf9vAGwAdf9pAGwAdwBhABQAbAB5AGH/
	bABsAHkAZf9qAGwAeQBp/2gAbAB5AG//bgBsAHkAdf9tAG0AH/9vAG0AYf+PAG0AZf+S
	AG0AaABh/5H/ZwBtAGgAZf+R/2oAbQBoAGn/kf9oAG0AaABv/5H/awBtAGgAdf+R/2kA
	bQBp/5AAbQBv/5MAbQB1/5EAbQB3AGH/kQAUAG0AdwBl/5H/agBtAHcAaf+R/2gAbQB3
	AG//kf9rAG0AdwB1/5H/bQBtAHkAYf+Q/2wAbQB5AGX/kP9qAG0AeQBp/5D/aABtAHkA
	b/+Q/24AbQB5AHX/kP9tAG4AHv+dAG4AH/9vAG4AJ/+dAG4AYf+FAG4AZf+IAG4Aaf+G
	AG4Abv+dAG4Ab/+JAG4Adf+HAG4AeQBh/4b/bABuAHkAZf+G/2oAbgB5AGn/hv9oAG4A
	eQBv/4b/bgBuAHkAdf+G/20Ab/91AHAAH/9vAHAAYf+K/58AcABl/43/nwBwAGgAYf+M
	/5//ZwBwAGgAZf+M/5//agBwAGgAaf+M/5//aABwAGgAb/+M/5//awBwAGgAdf+M/5//
	aQBwAGn/i/+fAHAAb/+O/58AcAB1/4z/nwBwAHcAYf+M/58AFABwAHcAZf+M/5//agBw
	AHcAaf+M/5//aABwAHcAb/+M/5//awBwAHcAdf+M/5//bQBwAHkAYf+L/5//bABwAHkA
	Zf+L/5//agBwAHkAaf+L/5//aABwAHkAb/+L/5//bgBwAHkAdf+L/5//bQBxAB//bwBx
	AGH/d/+e/2wAcQBl/3f/nv9qAHEAaf93/57/aABxAG//d/+e/24AcQB1/3f/nv9tAHIA
	H/9vAHIAYf+XAHIAZf+aAHIAaf+YAHIAb/+bAHIAdf+ZAHIAeQBh/5j/bAByAHkAZf+Y
	/2oAcgB5AGn/mP9oAHIAeQBv/5j/bgByAHkAdf+Y/20AcwAf/28AcwBh/3sAcwBl/34A
	cwBoAGH/fP9sAHMAaABl/3z/agBzAGgAaf98AHMAaABv/3z/bgBzAGgAdf98/20AcwBp
	/3wAcwBv/38AcwB1/30AcwB3AGH/ff9nAHMAdwBl/33/agBzAHcAaf99/2gAcwB3AG//
	ff9rAHMAdwB1/33/bQBzAHkAYf98/2wAcwB5AGX/fP9qAHMAeQBp/3z/aABzAHkAb/98
	/24AcwB5AHX/fP9tAHQAH/9vAHQAYf+AAHQAZf+DAHQAaABh/4P/bAB0AGgAZf+D/2oA
	dABoAGn/g/9oAHQAaABv/4P/bgB0AGgAdf+D/20AdABp/4EAdABv/4QAdABzAGH/gv9n
	AHQAcwBl/4L/agB0AHMAaf+C/2gAdABzAG//gv9rAHQAcwB1/4IAdAB1/4IAdAB3AGH/
	hP9nAHQAdwBl/4T/agB0AHcAaf+E/2gAdAB3AG//hP9rAHQAdwB1/4T/aQB0AHkAYf+B
	/2wAdAB5AGX/gf9qAHQAeQBp/4H/aAB0AHkAb/+B/24AdAB5AHX/gf9tAHX/cwB2AB//
	bwB2AGH/d/9sAHYAZf93/2oAdgBp/3f/aAB2AG//d/9uAHYAdf93/20AdgB5AGH/c/+e
	/2wAdgB5AGX/c/+e/2oAdgB5AGn/c/+e/2gAdgB5AG//c/+e/24AdgB5AHX/c/+e/20A
	dwAf/28AdwBh/5wAdwBl/3P/agB3AGgAYf9z/2cAdwBoAGX/c/9qAHcAaABp/3P/aAB3
	AGgAb/9z/2sAdwBoAHX/cwB3AGn/c/9oAHcAb/9mAHcAdf9zAHcAeQBlABEAdwB5AGkA
	EAB4AB//bwB4AGH/fP9sAHgAZf98/2oAeABp/3z/aAB4AG//fP9uAHgAdf98/20AeQAf
	/28AeQBh/5QAeQBl/3L/agB5AGn/cgB5AG//lgB5AHX/lQB6AB//bwB6AGH/e/+eAHoA
	Zf9+/54AegBoAGH/ff+e/2cAegBoAGX/ff+e/2oAegBoAGn/ff+e/2gAegBoAG//ff+e
	/2sAegBoAHX/ff+e/2kAegBp/3z/ngB6AG//f/+eAHoAdf99/54AegB3AGH/ff+eABQA
	egB3AGX/ff+e/2oAegB3AGn/ff+e/2gAegB3AG//ff+e/2sAegB3AHX/ff+e/20AegB5
	AGH/fP+e/2wAegB5AGX/fP+e/2oAegB5AGn/fP+e/2gAegB5AG//fP+e/24AegB5AHX/
	fP+e/23/fP+e/20Adf98/57/bQB1/3z/nv9tAHX/fP+e/20Adf98/57/bQB1/3z/nv9t
	/3z/nv9tAHkAdf98/57/bf98/57/bQB1/3z/nv9t/23d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3dAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAA
	</data>
</dict>
</plist>
